# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.UglyToad.PdfPig.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dsasco\RiderProjects\PdfPig\src\.idea\.idea.UglyToad.PdfPig\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
